//
// Typography
//

$theme-font-family--primary 	: 'League Gothic', Helvetica, Arial, sans-serif 			!default;
$theme-font-family--secondary	: 'League Gothic Condensed', Helvetica, Arial, sans-serif 	!default;


//
// Modscale settings
//
$theme-modscale-base 			: 1em 								!default; 
$theme-modscale-ratio 			: $theme-ratio-minor-third 			!default;