$theme-path-root			: "../"									!default;
$theme-path-content			: "#{$theme-path-root}content/"			!default;
$theme-path-fonts			: "#{$theme-path-content}fonts/"		!default;
$theme-path-images			: "#{$theme-path-content}images/"		!default;