$theme-z-index--lowest			: 100 			!default;
$theme-z-index--lower			: 200 			!default;
$theme-z-index--low				: 300			!default;
$theme-z-index--below			: 400 			!default;
$theme-z-index--base			: 500 			!default;
$theme-z-index--above			: 600 			!default;
$theme-z-index--high			: 700 			!default;
$theme-z-index--higher			: 800 			!default;
$theme-z-index--highest			: 900 			!default;